<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nucc.dao.alipay.MerchantInfoMapper">
    <resultMap id="BaseResultMap" type="com.nucc.entity.alipay.MerchantInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="external_id" jdbcType="VARCHAR" property="external_id"/>
        <result column="sub_merchant_id" jdbcType="VARCHAR" property="sub_merchant_id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="alias_name" jdbcType="VARCHAR" property="alias_name"/>
        <result column="service_phone" jdbcType="VARCHAR" property="service_phone"/>
        <result column="category_id" jdbcType="VARCHAR" property="category_id"/>
        <result column="source" jdbcType="VARCHAR" property="source"/>
        <result column="indeirect_level" jdbcType="VARCHAR" property="indeirect_level"/>
        <result column="business_license" jdbcType="VARCHAR" property="business_license"/>
        <result column="business_license_type" jdbcType="VARCHAR" property="business_license_type"/>

        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>

        <collection property="contact_info"
                    select="com.nucc.dao.alipay.ContactInfoMapper.selectByMerchantId"
                    column="sub_merchant_id" fetchType="lazy"/>
    </resultMap>

    <sql id="table_name">
        nucc_merchant_info
    </sql>

    <sql id="Base_Column_List">
         id, sub_merchant_id, external_id, name, alias_name, service_phone, category_id, indeirect_level, source, business_license, business_license_type, memo, version, modify_time, create_time
      </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="table_name"/>
        where
        id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from
        <include refid="table_name"/>
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.nucc.entity.alipay.MerchantInfo">
        insert into<include refid="table_name"/>(sub_merchant_id, external_id, name, alias_name, service_phone,
        category_id, source, business_license, business_license_type, memo)
        values
        (
        #{sub_merchant_id,jdbcType=VARCHAR},
        #{external_id,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{alias_name,jdbcType=VARCHAR},
        #{service_phone,jdbcType=VARCHAR},
        #{category_id,jdbcType=VARCHAR},
        #{source,jdbcType=VARCHAR},
        #{business_license,jdbcType=VARCHAR},
        #{business_license_type,jdbcType=VARCHAR},
        #{memo,jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.nucc.entity.alipay.MerchantInfo">
        update
        <include refid="table_name"/>
        set
        external_id=#{external_id,jdbcType=VARCHAR},
        name=#{name,jdbcType=VARCHAR},
        alias_name=#{alias_name,jdbcType=VARCHAR},
        service_phone=#{service_phone,jdbcType=VARCHAR},
        category_id=#{category_id,jdbcType=VARCHAR},
        source=#{source,jdbcType=VARCHAR},
        business_license=#{business_license,jdbcType=VARCHAR},
        business_license_type=#{business_license_type,jdbcType=VARCHAR},
        memo=#{memo,jdbcType=VARCHAR},
        version = version+1,
        modify_time = now()
        where sub_merchant_id = #{sub_merchant_id,jdbcType=VARCHAR}
    </update>


    <update id="updateByExternalId" parameterType="com.nucc.entity.alipay.MerchantInfo">
        update
        <include refid="table_name"/>
        set
        external_id=#{external_id,jdbcType=VARCHAR},
        name=#{name,jdbcType=VARCHAR},
        alias_name=#{alias_name,jdbcType=VARCHAR},
        service_phone=#{service_phone,jdbcType=VARCHAR},
        category_id=#{category_id,jdbcType=VARCHAR},
        source=#{source,jdbcType=VARCHAR},
        business_license=#{business_license,jdbcType=VARCHAR},
        business_license_type=#{business_license_type,jdbcType=VARCHAR},
        memo=#{memo,jdbcType=VARCHAR},
        version = version+1,
        modify_time = now()
        where external_id = #{external_id,jdbcType=VARCHAR}
    </update>

    <select id="getByMerchantId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="table_name"/>
        where
        sub_merchant_id = #{merchantId, jdbcType=VARCHAR} limit 1
    </select>

    <select id="getByExternalId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="table_name"/>
        where
        external_id = #{externalId, jdbcType=VARCHAR} limit 1
    </select>

    <select id="getCountByExternalId" resultType="int">
        select count(1) as total from
        <include refid="table_name"/>
        where external_id = #{externalId, jdbcType=VARCHAR}
    </select>

</mapper>