<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发送消息</title>

    <script type="application/javascript" src="/js/jquery-3.3.1.min.js"></script>
</head>
<body>

<center>

    <h2>发送消息到MQ2</h2>
    <hr>
    <form id="mq_msg_form" action="/test/send" method="post">
        <table>
            <tr>
                <td>内容：</td>
                <td>
                    <textarea id="content" name="message" rows="6" cols="40"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center" style="padding-top: 10px">
                    <input type="button" id="submit" value="发送">
                </td>
            </tr>
        </table>
    </form>

    <div id="result" style="margin-top: 20px;color: mediumturquoise;font-size: 24px;">

    </div>

</center>

</body>
<script type="application/javascript">

    $(function () {
        $("#submit").bind("click", function () {

            var content = $("#content").val();

            $.ajax({
                type: "POST",
                .url: "/test/send",
                data: {message:content},
                dataType: "text",
                success: function(data){
                    $("#result").html(data);

                    $("#content").val("");
                }
            });

        })
    });


</script>

</html>