<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nucc.dao.weixin.WXMerchantInfoMapper">
    <resultMap id="BaseResultMap" type="com.nucc.entity.weixin.WXMerchantInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="appid" jdbcType="VARCHAR" property="appid"/>
        <result column="mch_id" jdbcType="VARCHAR" property="mch_id"/>

        <result column="sub_merchant_id" jdbcType="VARCHAR" property="sub_merchant_id"/>
        <result column="merchant_name" jdbcType="VARCHAR" property="merchant_name"/>
        <result column="merchant_shortname" jdbcType="VARCHAR" property="merchant_shortname"/>
        <result column="service_phone" jdbcType="VARCHAR" property="service_phone"/>
        <result column="contact" jdbcType="VARCHAR" property="contact"/>
        <result column="contact_phone" jdbcType="VARCHAR" property="contact_phone"/>
        <result column="contact_email" jdbcType="VARCHAR" property="contact_email"/>
        <result column="business" jdbcType="VARCHAR" property="business"/>
        <result column="channel_id" jdbcType="VARCHAR" property="channel_id"/>
        <result column="contact_wechatid_type" jdbcType="VARCHAR" property="contact_wechatid_type"/>
        <result column="contact_wechatid" jdbcType="VARCHAR" property="contact_wechatid"/>
        <result column="merchant_remark" jdbcType="VARCHAR" property="merchant_remark"/>

        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="table_name">
        nucc_wx_merchant_info
    </sql>


    <sql id="Base_Column_List">
        id, appid, mch_id, sub_merchant_id, merchant_name, merchant_shortname, service_phone, contact, contact_phone,
        contact_email, business, channel_id, contact_wechatid_type, contact_wechatid, merchant_remark,
        version, modify_time, create_time
      </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from nucc_wx_merchant_info
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from nucc_wx_merchant_info
        where id = #{id,jdbcType=INTEGER}
      </delete>

    <insert id="insert" parameterType="com.nucc.entity.weixin.WXMerchantInfo">
        insert into nucc_wx_merchant_info (appid, mch_id, sub_merchant_id,
          merchant_name, merchant_shortname, service_phone,
          contact, contact_phone, contact_email,
          business, channel_id, contact_wechatid_type,
          contact_wechatid, merchant_remark)
        values (#{appid,jdbcType=VARCHAR}, #{mch_id,jdbcType=VARCHAR}, #{sub_merchant_id,jdbcType=VARCHAR},
          #{merchant_name,jdbcType=VARCHAR}, #{merchant_shortname,jdbcType=VARCHAR}, #{service_phone,jdbcType=VARCHAR},
          #{contact,jdbcType=VARCHAR}, #{contact_phone,jdbcType=VARCHAR}, #{contact_email,jdbcType=VARCHAR},
          #{business,jdbcType=VARCHAR}, #{channel_id,jdbcType=VARCHAR}, #{contact_wechatid_type,jdbcType=VARCHAR},
          #{contact_wechatid,jdbcType=VARCHAR}, #{merchant_remark,jdbcType=VARCHAR})
      </insert>

    <update id="updateByPrimaryKey" parameterType="com.nucc.entity.weixin.WXMerchantInfo">
        update nucc_wx_merchant_info
        set
          merchant_name = #{merchant_name,jdbcType=VARCHAR},
          merchant_shortname = #{merchant_shortname,jdbcType=VARCHAR},
          service_phone = #{service_phone,jdbcType=VARCHAR},
          contact = #{contact,jdbcType=VARCHAR},
          contact_phone = #{contact_phone,jdbcType=VARCHAR},
          contact_email = #{contact_email,jdbcType=VARCHAR},
          business = #{business,jdbcType=VARCHAR},
          channel_id = #{channel_id,jdbcType=VARCHAR},
          contact_wechatid_type = #{contact_wechatid_type,jdbcType=VARCHAR},
          contact_wechatid = #{contact_wechatid,jdbcType=VARCHAR},
          merchant_remark = #{merchant_remark,jdbcType=VARCHAR},
          version = version+1,
          modify_time = now()
        where id = #{id,jdbcType=INTEGER}
      </update>


    <sql id="condition_sql">
        <if test="appid!=null and appid!=''">
            appid = #{appid, jdbcType=VARCHAR}
        </if>
        <if test="mch_id!=null and mch_id!=''">
            and mch_id = #{mch_id, jdbcType=VARCHAR}
        </if>
        <if test="merchant_name!=null and merchant_name!=''">
            and merchant_name = #{merchant_name, jdbcType=VARCHAR}
        </if>
        <if test="merchant_remark!=null and merchant_remark!=''">
            and merchant_remark = #{merchant_remark, jdbcType=VARCHAR}
        </if>
    </sql>

    <select id="getCountBy" parameterType="com.nucc.entity.weixin.WXMerchantInfo" resultType="int">
        select <include refid="Base_Column_List"/> from <include refid="table_name"/>
        <where>
            <include refid="condition_sql"/>
        </where>
    </select>

    <select id="getCountBySubMerchantId" resultType="int">
        select count(1) as total from <include refid="table_name" />
        where
        sub_merchant_id = #{subMerchantId, jdbcType=VARCHAR}
    </select>

    <update id="updateBySubMerchantId" parameterType="com.nucc.entity.weixin.WXMerchantInfo">
        update <include refid="table_name"/>
        set
          merchant_name = #{merchant_name,jdbcType=VARCHAR},
          merchant_shortname = #{merchant_shortname,jdbcType=VARCHAR},
          service_phone = #{service_phone,jdbcType=VARCHAR},
          contact = #{contact,jdbcType=VARCHAR},
          contact_phone = #{contact_phone,jdbcType=VARCHAR},
          contact_email = #{contact_email,jdbcType=VARCHAR},
          business = #{business,jdbcType=VARCHAR},
          channel_id = #{channel_id,jdbcType=VARCHAR},
          contact_wechatid_type = #{contact_wechatid_type,jdbcType=VARCHAR},
          contact_wechatid = #{contact_wechatid,jdbcType=VARCHAR},
          merchant_remark = #{merchant_remark,jdbcType=VARCHAR},
          version = version+1,
          modify_time = now()
        where sub_merchant_id = #{sub_merchant_id,jdbcType=VARCHAR}
    </update>

    <select id="query" parameterType="com.nucc.entity.weixin.WXMerchantInfo" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from <include refid="table_name"/>
        <where>
            <if test="appid!=null and appid!=''">
                and appid = #{appid, jdbcType=VARCHAR}
            </if>
            <if test="mch_id!=null and mch_id!=''">
                and mch_id = #{mch_id, jdbcType=VARCHAR}
            </if>
            <if test="sub_merchant_id!=null and sub_merchant_id!=''">
                and sub_merchant_id = #{sub_merchant_id, jdbcType=VARCHAR}
            </if>
            <if test="merchant_remark!=null and merchant_remark!=''">
                and merchant_remark = #{merchant_remark, jdbcType=VARCHAR}
            </if>
            <if test="channel_id!=null and channel_id!=''">
                and channel_id = #{channel_id, jdbcType=VARCHAR}
            </if>
        </where>
        limit 1
    </select>





























</mapper>