<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nucc.dao.weixin.WXSuperMerchantInfoMapper">
    <resultMap id="BaseResultMap" type="com.nucc.entity.weixin.WXSuperMerchantInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>

        <result column="appid" jdbcType="VARCHAR" property="appid"/>
        <result column="mch_id" jdbcType="VARCHAR" property="mchId"/>
        <result column="merchant_name" jdbcType="VARCHAR" property="merchantName"/>
        <result column="key" jdbcType="VARCHAR" property="key"/>

        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="table_name">
        nucc_super_merchant_info
    </sql>

    <sql id="Base_Column_List">
        id, appid, mch_id, merchant_name, key, version, modify_time, create_time
      </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from nucc_super_merchant_info
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from nucc_super_merchant_info
        where id = #{id,jdbcType=INTEGER}
      </delete>

    <insert id="insert" parameterType="com.nucc.entity.weixin.WXSuperMerchantInfo">
        insert into nucc_super_merchant_info (id, appid, mch_id,
          merchant_name, key, version,
          modify_time, create_time)
        values (#{id,jdbcType=INTEGER}, #{appid,jdbcType=VARCHAR}, #{mchId,jdbcType=VARCHAR},
          #{merchantName,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER},
          #{modifyTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
      </insert>

    <update id="updateByPrimaryKey" parameterType="com.nucc.entity.weixin.WXSuperMerchantInfo">
        update nucc_super_merchant_info
        set appid = #{appid,jdbcType=VARCHAR},
          mch_id = #{mchId,jdbcType=VARCHAR},
          merchant_name = #{merchantName,jdbcType=VARCHAR},
          key = #{key,jdbcType=VARCHAR},
          version = #{version,jdbcType=INTEGER},
          modify_time = #{modifyTime,jdbcType=TIMESTAMP},
          create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
      </update>

    <select id="getMerchantByAppId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="table_name"/>
        where appid=#{appId, jdbcType=VARCHAR}
    </select>


</mapper>