<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <title>修改用户</title>
    <link rel="icon" type="image/x-icon" href="/img/pay.ico">
</head>
<script type="application/javascript" src="/js/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="/css/style.css" type="text/css"/>

<style type="text/css">

    .start {
        padding-left: 5px;
        color: red;
        text-align: center;
    }

    .user_edit {
        margin-top: 20px;
        padding-left: 20px;
        width: 600px;
        font-size: 16px;
        color: #5c7a29;
    }

    .user_edit tr {
        height: 30px;
    }

    .user_input {
        color: #5c7a29;
        border: 1px solid #d9d6c3;
        background: #fffef9;
        height: 24px;
        padding-left: 5px;
        width: 70%;
    }

    .request_code {
        height: 30px;
    }


</style>
<body>
<center>

    <div style="height: 140px;padding-top: 8px;position: relative;">
        <table>
            <tr style="text-align: center">
                <td style="width: 100%;"><img src="/img/logo2.png" style="width: 90px;height: 90px;"></td>
            </tr>
        </table>
        <table class="shopping_cart_tip">
            <tr>
                <td style="text-align: left;">
                    <a href="/book/list">首页</a>&nbsp;>&nbsp;用户中心
                </td>
                <td>
                    <span style="margin-right: 20px;"><a th:href="@{'/user/index/' + ${session.user.id}}"><span
                            th:text="${session.user.userName}"/></a>，您好！</span>
                    <a th:href="@{'/order/list/' + ${session.user.id}}">我的订单[<span id="orderCount"
                                                                                   th:text="${orderCount}"/>]</a> |
                    <a th:href="@{'/shoppingCart/detail/' + ${session.user.id}}">购物车[<span id="shopCarCount" th:text="${shopCarCount}"/>]</a>
                </td>
            </tr>
        </table>
        <input type="hidden" id="userId" th:value="${session.user.id}"/>
        <input type="hidden" id="email" th:value="${session.user.email}"/>
        <hr>
    </div>

    <table>
        <tr>
            <td><span id="errMsg" th:text="${errMsg}"></span></td>
        </tr>
    </table>

    <form id="form" action="/user/doModPwd" method="post">
        <input type="hidden" id="id" name="userId" th:value="${userId}"/>
        <input type="hidden" name="codeType" value="CHANGE_PASSWORD"/>
        <table class="user_edit">
            <tr>
                <td style="text-align: right;">旧&nbsp;&nbsp;密&nbsp;&nbsp;码：</td>
                <td><input type="text" id="old_pwd" name="oldPwd" class="user_input"><span class="start">*</span></td>
            </tr>
            <tr>
                <td width="100" style="text-align: right;">新&nbsp;&nbsp;密&nbsp;&nbsp;码：</td>
                <td><input type="text" id="new_pwd" name="newPwd" class="user_input"><span class="start">*</span></td>
            </tr>
            <tr>
                <td style="text-align: right;">确认密码：</td>
                <td><input type="text" id="confirm_pwd" name="confirmPwd" class="user_input"><span class="start">*</span></td>
            </tr>
            <tr>
                <td style="text-align: right;">验&nbsp;&nbsp;证&nbsp;&nbsp;码：</td>
                <td><input type="text" id="code" name="code" class="user_input" style="width: 48%;">&nbsp;<button type="button" id="require_code" class="request_code">获取验证码</button><span class="start">*</span></td>
            </tr>
        </table>
        <table>
            <tr>
                <td colspan="2" style="padding-top: 10px;">
                    <input id="submit" type="button" value="修改" class="b_button" style="width: 100px;">
                </td>
            </tr>
        </table>
    </form>
</center>
</body>


<script type="application/javascript">


    $(function () {
        var userId = $("#userId").val();
        var email = $("#email").val();
        console.log("用户ID=" + userId + "邮箱地址=" + email);

        $("#submit").bind("click", function () {
            // 检查两次密码是否一直
            var newPwd = $("#new_pwd").val();
            var confirmPwd = $("#confirm_pwd").val();
            if (newPwd != confirmPwd) {
                alert("两次输入密码不一致，请从新输入");
                $("#new_pwd").blur();
                return false;
            }

            var form = $("#form");
            $.ajax({
                url: '/user/doModPwd',
                    type: 'post',
                    dataType: 'json',
                    data: form.serialize(),
                    success: function (data) {
                        console.log(data);
                        if (data.code == 0) {
                            alert("修改密码成功，请重新登录");
                            location.href = "/login"
                        } else {
                            $("#errMsg").attr("text", data.message);
                        }
                    }
                });
        });

        $("#require_code").bind("click", function () {
            var regex = /^(\d|\w)+@(\w+\.)+\w{2,6}$/;
            if (!regex.test(email)) {
                alert("邮箱格式不正确，请重新输入");
                $("#email").val("");
                return;
            }

            $.get("/code/send?email=" + email + "&codeType=CHANGE_PASSWORD", function (data) {
                console.log(data);
                $("#require_code").attr("disable", true);
                if (data.code == 0) {
                    alert("验证码发送到您的邮箱，请确认");
                }
            });
        });

        get_shopping_cart_item_count(userId);
        get_order_count(userId);
    });


    function get_order_count(userId) {
        if (userId == '') {
            $("#orderCount").html(0);
        } else {
            $.get("/order/count/" + userId, function (data) {
                console.log(data);
                if (data.code != 0) {
                    $("#orderCount").html(0);
                } else {
                    $("#orderCount").html(data.data);
                }
            });
        }
    }

    function get_shopping_cart_item_count(userId) {
        if (userId == '') {
            $("#shopCarCount").html(0);
        } else {
            $.get("/shoppingCart/count/" + userId, function (data) {
                console.log(data);
                if (data.code != 0) {
                    $("#shopCarCount").html(0);
                } else {
                    $("#shopCarCount").html(data.data);
                }
            });
        }
    }


</script>


</html>