<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muse.pay.dao.MerchantInfoMapper">
    <resultMap id="BaseResultMap" type="com.muse.pay.entity.MerchantInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="merchant_name" jdbcType="VARCHAR" property="merchant_name"/>
        <result column="pay_key" jdbcType="VARCHAR" property="payKey"/>
        <result column="pay_secret" jdbcType="VARCHAR" property="paySecret"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="edit_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, merchant_name, pay_key, pay_secret, status, version, edit_time, create_time
      </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_merchant_info
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_merchant_info
        where id = #{id,jdbcType=INTEGER}
      </delete>

    <insert id="insert" parameterType="com.muse.pay.entity.MerchantInfo">
        insert into t_merchant_info (merchant_name, pay_key,
          pay_secret, status)
        values (#{merchant_name,jdbcType=VARCHAR}, #{payKey,jdbcType=VARCHAR},
          #{paySecret,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
      </insert>

    <update id="updateByPrimaryKey" parameterType="com.muse.pay.entity.MerchantInfo">
        update t_merchant_info
        set merchant_name = #{merchant_name,jdbcType=VARCHAR},
          pay_key = #{payKey,jdbcType=VARCHAR},
          pay_secret = #{paySecret,jdbcType=VARCHAR},
          version = version+1,
          edit_time = now()
        where id = #{id,jdbcType=INTEGER}
      </update>

    <update id="setStatus">
        update t_merchant_info set status=#{status, jdbcType=VARCHAR} where id=#{id,jdbcType=INTEGER}
    </update>

    <select id="getActiveMerchant" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_merchant_info where status='ACTIVE'
    </select>

    <select id="getActiveMerchantCount" resultType="java.lang.Integer">
        select count(1) as total from t_merchant_info where status='ACTIVE'
    </select>

    <sql id="condition_sql">
        <if test="name!=null and name!=''">
            and merchant_name like CONCAT('%' ,CONCAT(#{name},'%'))
        </if>
        <if test="payKey!=null and payKey!=''">
            and pay_key like CONCAT('%' ,CONCAT(#{payKey},'%'))
        </if>
        <if test="paySecret!=null and paySecret!=''">
            and pay_secret like CONCAT('%' ,CONCAT(#{paySecret},'%'))
        </if>
        <if test="status!=null and status!=''">
            and status = #{status}
        </if>
    </sql>
    
    <select id="queryBy" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from t_merchant_info
        <where>
            <include refid="condition_sql"/>
        </where>
        order by create_time
    </select>


</mapper>