<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muse.pay.dao.UserInfoDao">
    <resultMap id="BaseResultMap" type="com.muse.pay.entity.UserInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>

        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="frozen_amount" jdbcType="DECIMAL" property="frozenAmount"/>
        <result column="pic_url" property="picUrl" jdbcType="VARCHAR"/>

        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="version" property="version" jdbcType="INTEGER"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, email, user_name, password, amount, frozen_amount, pic_url, age, sex, address, version, modify_time, create_time
    </sql>

    <select id="getUserById" resultMap="BaseResultMap">
        SELECT
              <include refid="Base_Column_List"/>
        FROM t_user_info
        WHERE ID = #{id}
    </select>

    <sql id="condition_sql">
        <if test="email!=null and email!=''">
            and email = #{email}
        </if>
        <if test="userName!=null and userName!=''">
            and user_name=#{userName}
        </if>
        <if test="password!=null and password!=''">
            and password=#{password}
        </if>
    </sql>

    <select id="selectUserByColumn" resultType="com.muse.pay.entity.UserInfo" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_user_info
        <where>
            <include refid="condition_sql"/>
        </where>
        limit 1
    </select>

    <update id="updateUser" parameterType="com.muse.pay.entity.UserInfo">
        UPDATE t_user_info
        SET user_name = #{userName},
            sex = #{sex},
            age = #{age},
            address = #{address},
            version = version+1,
            modify_time = now()
        WHERE id = #{id}
    </update>

    <update id="updatePassword">
        update t_user_info set password=#{password} where id=#{userId}
    </update>
    
    <update id="setPwd">
        update t_user_info set password=#{password} where email=#{email}
    </update>
    
    <update id="modUserIcon">
        update t_user_info set pic_url = #{iconUrl} where id=#{userId}
    </update>
    
    

    <insert id="insertUser">
        INSERT INTO
            t_user_info(email, user_name, password, pic_url, sex, age, address, version)
            VALUES (
                #{email},
                #{userName},
                #{password},
                #{picUrl},
                #{sex},
                #{age},
                #{address},
                0
            )
    </insert>


    <delete id="deleteUserById">
        DELETE t_user_info WHERE ID = #{id}
    </delete>


    <select id="login" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from t_user_info
        where email=#{email} and password=#{password} limit 1
    </select>

    <select id="getAllUser" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from t_user_info order by id;
    </select>

    <select id="getAllUserIds" resultType="int">
        select id from t_user_info;
    </select>

    <select id="getUserIdByName" parameterType="string" resultType="int">
        select id from t_user_info where user_name like CONCAT('%' ,CONCAT(#{name},'%'))
    </select>
    
    <select id="getUserCountByEmail" resultType="int">
        select count(1) from t_user_info where email=#{email}
    </select>

    <update id="modifyUserAmount">
        update t_user_info set amount=amount + #{amount,jdbcType=DECIMAL} where id=#{userId,jdbcType=INTEGER}
    </update>

    



</mapper>