<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图书</title>
    <link rel="icon" type="image/x-icon" href="/img/pay.ico">
</head>
<script type="application/javascript" src="/js/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="/css/style.css" type="text/css"/>
<style type="text/css">

    .product {
        border-collapse: collapse;
        margin-top: 18px;
        text-align: center;
        border: 1px solid #d9d6c3;
        font-family: 微软雅黑;
        width: 1080px;
        background: #fffef9;
    }

    tr {
        height: 30px;
    }

    .bimg {
        width: 120px;
        height: 120px;
        text-align: center;
    }

</style>
<body>

<center>
    <div style="height: 140px;padding-top: 8px;position: relative;">
        <table>
            <tr style="text-align: center">
                <td style="width: 100%;"><img src="/img/logo2.png" style="width: 90px;height: 90px;"></td>
            </tr>
        </table>
        <table class="shopping_cart_tip">
            <tr>
                <td style="text-align: left;">
                    <a href="/book/list">首页</a>&nbsp;>&nbsp;图书推荐
                </td>
                <td>
                    <span style="margin-right: 20px;"><a th:href="@{'/user/index/' + ${session.user.id}}" th:if="${session.user ne null}"><span th:text="${session.user.userName}"  th:if="${session.user ne null}"/></a>，您好！</span>
                    <a th:href="@{'/order/list/' + ${session.user.id}}" th:if="${session.user ne null}">我的订单[<span id="orderCount"
                                                                                   th:text="${orderCount}"/>]</a> |
                    <a th:href="@{'/shoppingCart/detail/' + ${session.user.id}}" th:if="${session.user ne null}">购物车[<span id="shopCarCount" th:text="${shopCarCount}"/>]</a>
                </td>
            </tr>
        </table>
        <input type="hidden" id="userId" th:value="${session.user.id}" th:if="${session.user ne null}"/>
        <hr>
    </div>

    <table class="product" th:each="item:${data}"  th:if="${data ne null}">
        <tr>
            <td class="bimg"><img th:src="${item.picUrl}" style="width: 100px;height: 100px;"></td>
            <td style="width: 300px;text-align: left;padding-left: 5px;">《<span th:text="${item.title}"/>》</td>
            <td style="width: 300px;"><span th:text="@{'￥' + ${item.price}}"/>元</td>
            <td style="width:100px;padding-left: 10px"><input type="button" style="width: 70px;" value="+购物车"
                                                              th:onclick="'javascript:takeIt('+${item.id}+','+ ${session.user.id} +')'"
                                                              class="b_button" th:if="${session.user ne null}">
            </td>
            <td style="width:100px;"><input type="button" style="width: 60px;" value="购买"
                                                              th:onclick="'javascript:buy('+${item.id}+','+ ${session.user.id} +')'"
                                                              class="b_button" th:if="${session.user ne null}">
            </td>
        </tr>
    </table>

    <table style="height: 50px;"></table>

</center>

</body>


<script type="application/javascript">

    function onPage(pageNum) {
        $("#pageNum").val(pageNum);
        $("#pageForm").submit();
    }

    function takeIt(bookId, userId) {
        console.log(bookId + ", " + userId);

        var targetUrlList = '/shoppingCart/add?userId=' + userId + "&bookId=" + bookId + "&count=1";
        $.get(targetUrlList, function (data) {
            console.log(data);

            if (data.code == 0) {
                alert("成功放入购物车");

                var count = parseInt($("#shopCarCount").html());
                $("#shopCarCount").html(count + 1);

            } else {
                alert(data.message);
            }
        });
    }

    function buy(bookId, userId) {
        location.href = "/shoppingCart/buy?userId=" + userId + "&bookId=" + bookId + "&count=1";
    }

    $(function () {

        // 查询购物车中商品数量
        var userId = $("#userId").val();
        console.log("userId=" + userId);

        get_shopping_cart_item_count(userId);

        get_order_count(userId);

    });

    function get_order_count(userId) {
        if (userId == '') {
            $("#orderCount").html(0);
        } else {
            $.get("/order/count/" + userId, function (data) {
                console.log(data);
                if (data.code != 0) {
                    $("#orderCount").html(0);
                } else {
                    $("#orderCount").html(data.data);
                }
            });
        }
    }

    function get_shopping_cart_item_count(userId) {
        if (userId == '') {
            $("#shopCarCount").html(0);
        } else {
            $.get("/shoppingCart/count/" + userId, function (data) {
                console.log(data);
                if (data.code != 0) {
                    $("#shopCarCount").html(0);
                } else {
                    $("#shopCarCount").html(data.data);
                }
            });
        }
    }


</script>


</html>