
body {
    margin: 0px;
    padding: 0px;
}


.shopping_cart_tip {
    width: 1080px;
    color: #008792;
    font-size: 17px;
/*    margin-top: 10px;*/
    text-align: right;
}

.shopping_cart_tip a {
    text-decoration: none;
}

.shopping_cart_tip a:link {
    color: #008792;
}

.shopping_cart_tip a:visited {
    color: #008792;
}

.shopping_cart_tip a:hover {
    color: #ea66a6;
}

.shopping_cart_tip a:active {
    color: gray;
}

hr {
    color: #d9d6c3;
    width: 100%;
}


.d_button {
    width: 100px;
    height: 30px;
    border-width: 0px;
    border-radius: 3px;
    background: #f05b72;
    cursor: pointer;
    outline: none;
    font-family: Microsoft YaHei;
    color: white;
    font-size: 14px;
}

.d_button:hover {
    background: #f391a9;
}

.d_button:active {
    background: #f15b6c;
}

.b_button {
    width: 100px;
    height: 30px;
    border-width: 0px;
    border-radius: 3px;
    background: #00a6ac;
    cursor: pointer;
    outline: none;
    font-family: Microsoft YaHei;
    color: white;
    font-size: 14px;
}

.b_button:hover {
    background: #78cdd1;
}

.b_button:active {
    background: #008792;
}

.page_button {
    /*width: 25px;*/
    height: 25px;
    border-width: 0px;
    border-radius: 3px;
    background: #00a6ac;
    cursor: pointer;
    outline: none;
    font-family: Microsoft YaHei;
    color: white;
    font-size: 14px;
    text-align: center;
}

.page_button_disable {
    height: 25px;
    border-width: 0px;
    border-radius: 3px;
    background: #5e7c85;
    cursor: pointer;
    outline: none;
    font-family: Microsoft YaHei;
    color: white;
    font-size: 14px;
    text-align: center;
}

.page_button:hover {
    background: #78cdd1;
}

.page_button:active {
    background: #008792;
}

.page_tip {
    padding: 3px 5px;
    border-width: 0px;
    height: 30px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    background: #00a6ac;
    color: white;
    border-radius: 3px;
    text-align: center;
}