<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.proxypool.dao.RecruitInfoMapper">
    <resultMap id="BaseResultMap" type="com.proxypool.entry.RecruitInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="post_name" jdbcType="VARCHAR" property="postName"/>
        <result column="experience" jdbcType="VARCHAR" property="experience"/>
        <result column="number" jdbcType="VARCHAR" property="number"/>
        <result column="contact" jdbcType="VARCHAR" property="contact"/>

        <result column="salary" jdbcType="VARCHAR" property="salary"/>
        <result column="area" jdbcType="VARCHAR" property="area"/>
        <result column="education" jdbcType="VARCHAR" property="education"/>
        <result column="welfare" jdbcType="VARCHAR" property="welfare"/>
        <result column="job_information" jdbcType="LONGVARCHAR" property="jobInformation"/>

        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="company_type" jdbcType="VARCHAR" property="companyType"/>
        <result column="company_size" jdbcType="VARCHAR" property="companySize"/>
        <result column="company_industry" jdbcType="VARCHAR" property="companyIndustry"/>
        <result column="release_date" jdbcType="VARCHAR" property="releaseDate"/>

        <result column="company_desc" jdbcType="VARCHAR" property="companyDesc"/>
        <result column="source" jdbcType="VARCHAR" property="source"/>
        <result column="detail_url" jdbcType="VARCHAR" property="detailUrl"/>
        <result column="identification_code" jdbcType="VARCHAR" property="identificationCode"/>

        <result column="release_dates" jdbcType="VARCHAR" property="releaseDates"/>
        <result column="release_count" jdbcType="INTEGER" property="releaseCount"/>

        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Table_Name">
        t_recruit_info
    </sql>

    <sql id="Base_Column_List">
        id, post_name, experience, number, contact, salary, area, education, welfare, job_information, company_name,
        company_type, company_size, company_industry, company_desc, release_date, source, detail_url, identification_code,
        release_dates, release_count
        version, modify_time, create_time
      </sql>


    <insert id="insert" parameterType="com.proxypool.entry.RecruitInfo">
        insert into t_recruit_info (id, post_name, experience,
          number, contact, company_name,
          company_type, company_size, company_industry,
          release_date, salary, area,
          education, welfare, job_information, company_desc, source, identification_code, detail_url,
          release_dates, release_count
          )
        values (#{id,jdbcType=INTEGER}, #{postName,jdbcType=VARCHAR}, #{experience,jdbcType=VARCHAR},
          #{number,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR},
          #{companyType,jdbcType=VARCHAR}, #{companySize,jdbcType=VARCHAR}, #{companyIndustry,jdbcType=VARCHAR},
          #{releaseDate,jdbcType=VARCHAR}, #{salary,jdbcType=VARBINARY}, #{area,jdbcType=VARBINARY},
          #{education,jdbcType=VARBINARY}, #{welfare,jdbcType=VARBINARY}, #{jobInformation,jdbcType=LONGVARCHAR},
          #{companyDesc,jdbcType=LONGVARCHAR}, #{source,jdbcType=LONGVARCHAR}, #{identificationCode,jdbcType=LONGVARCHAR},
          #{detailUrl,jdbcType=LONGVARCHAR}, #{releaseDates,jdbcType=LONGVARCHAR}, #{releaseCount,jdbcType=INTEGER}
          )
      </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_recruit_info
        where id = #{id,jdbcType=INTEGER}
      </delete>

    <delete id="delRepeatByIds">
        delete from t_recruit_info where id in
        <foreach collection="list" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <update id="updateByCode" parameterType="com.proxypool.entry.RecruitInfo">
        update t_recruit_info
        set
        release_dates = #{releaseDates, jdbcType=VARCHAR},
        release_count=release_count+1,
        version = version+1,
        modify_time = now()
        where
        identification_code = #{identificationCode, jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.proxypool.entry.RecruitInfo">
        update t_recruit_info
        set
          post_name = #{postName,jdbcType=VARCHAR},
          experience = #{experience,jdbcType=VARCHAR},
          number = #{number,jdbcType=VARCHAR},
          contact = #{contact,jdbcType=VARCHAR},
          company_name = #{companyName,jdbcType=VARCHAR},
          company_type = #{companyType,jdbcType=VARCHAR},
          company_size = #{companySize,jdbcType=VARCHAR},
          company_industry = #{companyIndustry,jdbcType=VARCHAR},
          company_desc = #{companyDesc,jdbcType=VARCHAR},
          release_date = #{releaseDate,jdbcType=VARCHAR},
          salary = #{salary,jdbcType=VARCHAR},
          area = #{area,jdbcType=VARCHAR},
          education = #{education,jdbcType=VARCHAR},
          welfare = #{welfare,jdbcType=VARCHAR},
          job_information = #{job_information,jdbcType=VARCHAR},
          source = #{source,jdbcType=VARCHAR},
          detail_url = #{detailUrl,jdbcType=VARCHAR},
          identification_code = #{identificationCode,jdbcType=VARCHAR},
          version = version+1,
          modify_time = now(),
          create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
      </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_recruit_info
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getCountByCode" resultType="int">
        select count(1) as total from t_recruit_info where identification_code = #{code}
    </select>

    <select id="getByIdentificationCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_recruit_info where identification_code = #{code}
    </select>

    <select id="getRepeatRecruitIds" resultType="int">
        SELECT id FROM t_recruit_info WHERE identification_code IN (
        SELECT identification_code FROM t_recruit_info GROUP BY identification_code HAVING COUNT(1)>1)
        ORDER BY post_name
    </select>

    <select id="queryRecruit" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"/>
        <where>
            <if test="companyName != null or companyName!=''">
                and company_name like CONCAT('%' ,CONCAT(#{companyName},'%'))
            </if>
            <if test="postName != null or postName!=''">
                and post_name like CONCAT('%' ,CONCAT(#{postName},'%'))
            </if>
            <if test="releaseTime != null or releaseTime!=''">
                and release_date like CONCAT('%' ,CONCAT(#{releaseTime},'%'))
            </if>
        </where>

        order by create_time desc
    </select>


</mapper>